@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ELD Test Data</h1>
    <p class="lead">Generate test data for use on ELD device and for reporting</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>